/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

* {
    font-family: 'San Francisco', sans-serif;  
}

html, body{
	margin: 0;
	overflow-x: hidden;
    overflow-y: scroll;
}

#outbox{
	position: relative;
	max-width: 940px;
	height: 1050px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	padding-top: 25px;
	overflow-x:hidden; 
/*	padding-left: 65px;
	padding-right: 65px;*/
}


h1{
	font-size: 26pt;
	font-weight: 700;
	text-align: center;
	letter-spacing: 6px;
	margin: 0 auto;
}

h2{
	font-size: 18pt;
	font-weight: 600;
	text-align: center;
	letter-spacing: 3px;
	margin: 0 auto;
}

h3{
	font-size: 14pt;
	font-weight: 500;
	margin: 0 auto;
	letter-spacing: 0.3px;
}

h4{
	font-size: 12pt;
	font-weight: 200;
	text-align: center;
	letter-spacing: 0.5px;
	margin: 0 auto;
}

h6{
	font-size: 9pt;
	font-weight: 200;
	letter-spacing: 0.5px;
	margin: 0 auto;
}

p{
	font-size: 10pt;
	font-weight: 400;
	margin: 0 auto;
	letter-spacing: 0.5px;
}

.contactinfo{
	margin-top: 0.5px;
	font-weight: 600;
	text-align: center;
}

.subtitle{
	margin-top:4px;
	font-weight: 500;
}

.section{
	margin-top:50px;
}

.number{
	font-size: 9pt;
}

.profile{
	margin-top:10px;
	max-width: 600px;
}

.contentpart{
	position: relative;
	left:0;
	right: 0;
	max-width: 854px;
	margin: 0 auto;
	overflow-x:hidden; 
	
}

.contentpart2{
	position: relative;
	left:0;
	right: 0;
	max-width: 854px;
	margin: 0 auto;
	overflow-x:hidden; 

}

.content{
	position: relative;
	display: inline-block;
	width: 425px;
	height: 145px;
	margin: 20px auto 0 auto;
	overflow-x:hidden; 
}

.contentpart2 .content{
	height: 200px;
}

.content .main{
	position: absolute;
	left: 0;
	top: 0;
	/*background: blue;*/
	width: 300px;
	padding-left: 10px;
	/*height: 210px;*/
}

.tools{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.content .year{
	position: absolute;
	right: 0;
	top: 0;
	/*background: yellow;*/
	width: 125px;
	/*height: 210px;*/
	text-align: center;
}

.description{
	/*margin-bottom: 20px;*/
}

.indent{
	text-indent: -10px;
}

.language{
	text-align: center;
}

@media screen and (max-width: 870px) {

.contentpart{
	left:0;
	right: 0;
	max-width: 450px;
	margin: 0 auto;
}

.contentpart2{
	left:0;
	right: 0;
	max-width: 450px;
	margin: 0 auto;
}


#outbox{
	padding-left: 20px;
	padding-right: 20px;
	height: 1655px;
}

}


@media screen and (max-width: 415px) {

.content{
	width: 100%;
	margin-left: -10px;
	margin: 20px auto 0 auto;
}

.content .year{
	width: 40px;
	text-align: center;

}

.contentpart{
	width: 100%;
}

.contentpart2{
	width: 100%;
}

#outbox{

	height: 1735px;
}


}

@media screen and (max-width: 350px) {

.content .main{
	width: 280px;
	padding-left: 10px;
}

.content .year{
	width: 40px;
	right: 3px;
}

#outbox{
	padding-left: 5px;
	padding-right: 0;
}

}





